#hexmap1 { 
    /*width: 932px; 
    height: 964px; */
    width: 1000px;
    height: 932px;
    background-image:url("ProvidenceRing.png");
    position: relative;
    z-index: 0;
}

#hexmap1 .hex path {
    stroke: #817B58; 
    stroke-width: 1;
    z-index: 3;    
}

#hexmap1 .hover path { 
    stroke-width: 4px; 
    transform: scale(1.75); 
    stroke: black; 
    
}

.hex {
    position: absolute;
    /* Default z-index for normal hexes */
    z-index: 1;
}

.hex:hover {
    z-index: 3; /* Move hovered hex above the compass */
    stroke-width: 4px; 
    transform: scale(1.75); 
    stroke: black;
}

#hexmap1 .data-layer .chevron path { 
    fill: url(#chevron-pattern)!important;
}

#hexmap1 .data-layer .swirl path { 
    fill: url(#swirl-pattern)!important;
}

#hexmap1 .data-layer .providence path { 
    fill: url(#providence-pattern)!important;
}

#hexmap1 .data-layer .mario path { 
    fill: url(#mario-pattern)!important;
}

#hexmap1 .data-layer .mario2 path { 
    fill: url(Providence.png)!important;
}

#compass {
    position: absolute; 
    bottom: 30px; 
    left: 30px; 
    width: 67px; 
    height: 71px; 
    z-index: 2;
    pointer-events: none;
}