#hexmap1 { 
    width: 932px; 
    height: 964px; 
    background-image:url("ProvidenceRing.png");
    position: relative;
}

#hexmap1 .hex path {
    stroke: #817B58; 
    stroke-width: 1;
    z-index: 3;    
}

#hexmap1 .hover path { 
    stroke-width: 4px; 
    transform: scale(1.75); 
    stroke: black; 
    z-index: 3;
}

#hexmap1 .data-layer .chevron path { 
    fill: url(#chevron-pattern)!important;
}

#hexmap1 .data-layer .swirl path { 
    fill: url(#swirl-pattern)!important;
}

#hexmap1 .data-layer .providence path { 
    fill: url(#providence-pattern)!important;
}

#hexmap1 .data-layer .mario path { 
    fill: url(#mario-pattern)!important;
}

#compass {
    position: absolute; 
    bottom: 30px; 
    left: 30px; 
    width: 67px; 
    height: 71px; 
    z-index: 2;
}